body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f6f9f6;
  }
  header {
    background-color: #2e8b57;
    color: white;
    padding: 15px;
    text-align: center;
  }
  button {
    margin: 10px;
    padding: 10px 15px;
    border: none;
    background: #4caf50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  #mapaSimulado {
    width: 90%;
    height: 300px;
    background: #ddd;
    margin: 20px auto;
    border-radius: 8px;
  }
  #formulario, #lista {
    margin: 20px;
    padding: 10px;
    background: white;
    border-radius: 8px;
  }
  input {
    display: block;
    margin: 8px 0;
    padding: 8px;
    width: 90%;
    max-width: 400px;
  }
  